NODE_ENV=development
BASE_SUPABASE_URL="http://localhost:54321"
BASE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH"


# Native (Expo + React Native)
EXPO_PUBLIC_SUPABASE_URL=$BASE_SUPABASE_URL
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=$BASE_SUPABASE_PUBLISHABLE_KEY
EXPO_PUBLIC_ENVIRONMENT="local"
EXPO_PUBLIC_SENTRY_DSN=


# Admin (Vite + React)
VITE_ENVIRONMENT="development"
VITE_SUPABASE_URL=$BASE_SUPABASE_URL
VITE_SUPABASE_PUBLISHABLE_KEY=$BASE_SUPABASE_PUBLISHABLE_KEY
VITE_SENTRY_DSN=

# Supabase
SB_ENVIRONMENT=local
SB_PROJECT_ID=
SB_DB_PASSWORD=postgres
SB_URL="http://localhost:54321"
SB_AUTH_EXTERNAL_GOOGLE_SECRET=
SB_SENTRY_DSN=

# Supabase Vault
VAULT_SB_URL="http://host.docker.internal:54321"
VAULT_SB_PUBLISHABLE_KEY=$BASE_SUPABASE_PUBLISHABLE_KEY
VAULT_SB_SECRET_KEY=$BASE_SUPABASE_SECRET_KEY
